* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 20px;
}

header > p {
    font-size: 24px;
    color: #f9faf8;
}

nav {
    display: flex;
    gap: 40px;
}

a,
.hero .herotext > p {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
}

.hero .herotext > h1 {
    font-size: 48px;
    color: #f9faf8;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    background-color: grey;
    color: #e5e7eb;
}

